---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: "Never"
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: "Never"
AllowShortLoopsOnASingleLine: false
